@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  background-color: #ffdcf8;
}

/*SECCION CONTACTOS*/
/*HEAD*/
.logo-petshop {
  height: 300px;
  display: flex;
  justify-content: center;
}

.navegacion {
  border-style: groove;
  border-color: red;
  border-radius: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}

.listanavegacion {
  display: flex;
  justify-content: flex-end;
}

/*HEAD*/
footer {
  background-color: #333;
  color: #0c0c0c;
  text-align: center;
  padding: 20px;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.secciones {
  display: flex;
  justify-content: center;
  border-style: groove;
  padding: 20px;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  font-weight: bold;
}

/*IMAGENES INDEX*/
.imagenes-carrusel {
  display: flex;
  justify-content: space-around;
  font-style: italic;
}

.imagenes-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  width: 30%;
  margin-top: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.imagenes-reseñas {
  display: flex;
  height: 300px;
  max-width: 100%;
  justify-content: space-around;
}

/*IMAGENES INDEX*/
.contenedor {
  text-align: -webkit-center;
}
.contenedor img {
  max-width: 100%;
}
.contenedor p {
  font-size: 16px;
}

.contenedor-2 {
  text-align: -webkit-center;
}
.contenedor-2 img {
  max-width: 100%;
  height: 300px;
}

img {
  transition: transform 0.3s;
}

a:hover img {
  transform: scale(1.2);
}

/*RESPOSIVE CONTACTO MOBILE*/
@media screen and (min-width: 375px) and (max-width: 480px) {
  header {
    font-size: 18px;
    text-align: center;
  }
  form {
    font-size: 14px;
  }
  .mensaje {
    font-size: 12px;
  }
  .navegacion {
    font-size: 12px;
  }
  .listanavegacion {
    display: flex;
    justify-content: center;
  }
}
/*RESPOSIVE CONTACTO DESKTOP*/
@media screen and (min-width: 485px) and (max-width: 1200px) {
  header {
    font-size: 24px;
  }
  form {
    font-size: 16px;
  }
  .mensaje {
    font-size: 14px;
  }
  .Navegacion {
    font-size: 14px;
  }
}
/*RESPONSIVE INDEX MOBILE*/
@media screen and (min-width: 375px) and (max-width: 480px) {
  header {
    font-size: 18px;
  }
  .listanavegacion {
    flex-direction: column;
  }
  .navegacion {
    font-size: 14px;
  }
  .secciones {
    font-size: 18px;
  }
  .imagenes-reseñas {
    display: flex;
    flex-direction: row;
  }
  .imagenes-nosotros img {
    width: 40%;
  }
  .imagenes-nosotros p {
    font-size: 10px;
  }
  .imagenes-carrusel img {
    width: 70%;
    height: auto;
  }
  .contenedor p {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}
/*RESPONSIVE INDEX DESKTOP*/
@media screen and (min-width: 485px) and (max-width: 1200px) {
  header {
    font-size: 24px;
  }
  .listanavegacion {
    gap: 40px;
  }
  .navegacion {
    font-size: 16px;
  }
  .secciones {
    font-size: 24px;
  }
  .imagenes-reseñas {
    gap: 40px;
  }
  .contenedor-2,
  .contenedor {
    font-size: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
